In [1]:
import warnings 
warnings.filterwarnings("ignore")
import numpy as np
import pandas as pd
import string

In [2]:
data = pd.read_csv("A:/DataSets/Spam.csv",encoding='latin-1')

In [3]:
data.head()

   Type                                               Data
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
data["Type"] = data["Type"].map({"ham":1,"spam":0})

In [5]:
data.head()

   Type                                               Data
0     1  Go until jurong point, crazy.. Available only ...
1     1                      Ok lar... Joking wif u oni...
2     0  Free entry in 2 a wkly comp to win FA Cup fina...
3     1  U dun say so early hor... U c already then say...
4     1  Nah I don't think he goes to usf, he lives aro...

In [6]:
data["Type"].unique()

array([1, 0], dtype=int64)

In [7]:
df = data[["Type","Data"]]

In [8]:
punctuations = string.punctuation
print(punctuations)

!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~

In [9]:
def removing_punctuations(x):
    new_data = "".join([ char for char in x if char not in punctuations])
    return new_data
def tokens(x):
    token =  x.split(" ") 
    return token

In [10]:
data["New_Data"] = data["Data"].apply(lambda x : removing_punctuations(x))
#ata["Tokenized_data"] = data["New_Data"].apply(lambda x : tokens(x))

In [11]:
data.drop("Data",inplace = True , axis = 1)

In [12]:
data.head()

   Type                                           New_Data
0     1  Go until jurong point crazy Available only in ...
1     1                            Ok lar Joking wif u oni
2     0  Free entry in 2 a wkly comp to win FA Cup fina...
3     1        U dun say so early hor U c already then say
4     1  Nah I dont think he goes to usf he lives aroun...

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(data["New_Data"],data["Type"])

In [15]:
from sklearn.feature_extraction.text import CountVectorizer

In [16]:
cv =CountVectorizer(stop_words = "english")

In [17]:
cv.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words='english',
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [18]:
X_train_tr = cv.transform(X_train)

In [19]:
X_test_tr = cv.transform(X_test)

In [20]:
len(cv.get_feature_names())

7817

In [21]:
def Naive_bayes():
    from sklearn.naive_bayes import MultinomialNB
    model  =MultinomialNB()
    model.fit(X_train_tr,y_train)
    y_pred = model.predict(X_test_tr)
    return model.score(X_test_tr,y_test)

In [22]:
def rfc():
    from sklearn.ensemble import RandomForestClassifier
    rfc = RandomForestClassifier(n_estimators = 30)
    rfc.fit(X_train_tr,y_train)
    return rfc.score(X_test_tr,y_test)

In [23]:
def SVC():
    from sklearn.svm import SVC
    model  =SVC()
    model.fit(X_train_tr,y_train)
    model.predict(X_test_tr)
    return model.score(X_test_tr,y_test)

In [24]:
print("Naive Bayes Accuracy is" , Naive_bayes())
print("Random Forest Accuracy is" , rfc())
print("SVC Accuracy is" , SVC())

Naive Bayes Accuracy is 0.9813352476669059
Random Forest Accuracy is 0.9748743718592965
SVC Accuracy is 0.8779612347451543